h1{
    font: 20px sans-serif;
}
p{
    font: 14px sans-serif;
}
text {
      font: 10px sans-serif;
    text-color: white;
    font-weight: bolder;
  }
  a[title]:hover::after {
  content: attr(title);
  color: black;
  background-color: lightgrey;
}
body{
    background-color: white;
}